<table border="2">
<tr>
    <td>id</td>
    <td>username</td>
    <td>email</td>
    <td>age</td>
</tr>
{% for authors in au %}
<tr>
    <td>{{authors.id}}</td>
    <td>{{authors.username}}</td>
    <td>{{authors.email}}</td>
    <td>{{authors.age}}</td>
</tr>
{%endfor %}
</table>








